* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navigation bar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding: 3% 5%;
}

.navbar-brand {
    width: 150px;
    height: 100%;
}

.brand-logo {
    width: 100%;
    height: 100%;
}

.language-dropdown {
    border: none;
    color: white;
    background: transparent;
}

.dropdown-container {
    border: 1px solid white;
    padding: 10px 5px;
    border-radius: 4px;
    background-color: rgb(121, 116, 116);
}

.sign-in {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.navbar-nav-items {
    display: flex;
    gap: 10px;
}

/* Z-index */
/* 
.position-rel {
    position: relative;
    top: 20px;
    background-color: pink;
    height: 200px;
    width: 200px;
}

.position-abs {
    position: absolute;
    top: 20px;
    background-color: pink;
    height: 100px;
    width: 100px;
    z-index: 10;
}

.style-image {
    width: 100%;
} */

/* Banner */

.bg-image-container {
    width: 100%;
    height: 500px;
}

.hero-bg-image {
    height: 100%;
    width: 100%;
}

.bg-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.4);
}

.hero-card {
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-weight: bolder;
    font-size: 40px;
}

.hero-subtitle,
.hero-description {
    font-weight: bolder;
    font-size: 18px;
}


.hero-description {
    margin: 0 50px;
}

.email-input {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 7px;
}

.email-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.form-container {
    width: 50%;
    height: 50px;
    position: relative;
}

.primary-button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    border-radius: 4px;
    padding: 14px 18px;
    font-size: 16px;
    height: 50px;
}

/* Feature-1 */
.feature {
    border-top: 8px solid rgb(109, 102, 102);
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

.feature-details {
    text-align: center;
    padding: 0 5px;
    margin-left: 40px;
}

.feature-title {
    font-size: 50px;
    font-weight: bolder;
    margin: 10px 0;
}

.feature-subtitle {
    font-size: 25px;
    font-weight: bolder;
    margin: 10px 0;
}

.feature-image-container {
    width: 100%;
    position: relative;
    max-width: 500px;
}

.feature-image {
    width: 100%;
}


.feature-background-video-container {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 12%;
    height: 100%;
    z-index: -2;
    max-width: 73%;
}

.feature-background-video {
    width: 100%;
}

/* Feature-2 */
.feature-2-poster-container {
    position: absolute;
    bottom: 8%;
    left: 15%;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    gap: 15px;
    padding: 15px;
    height: 10px;
}

.poster-container {
    width: 20%;
}

.poster {
    width: 100%;
    height: 100%;
}

.poster-details {
    width: 50%;
}

.download-gif-container {
    width: 20%;
    height: 100%;
}

.gif {
    width: 100%;
    height: 100%;
}

/* Feature-3 */
.feature-3-background-video {
    z-index: -2;
    max-width: 64%;
    top: 9%;
    left: 19%;
}


/* Footer */
footer {
    border-top: 8px solid rgb(109, 102, 102);
    padding: 32px 400px;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;

}

.footer-row-2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-start;
}

.footer-row-1>h4 {
    font-size: 15px;
    align-self: flex-start;
}

.footer-row-3 {
    width: 28%;
    border: 1px solid grey;
    color: grey;
    padding: 10px 5px;
}